
// .card__info{
//     position: absolute;
//     bottom:30px; 
//     right:30px; 
//     font-size:$font-size-lg;
// }

label{
    display: block;
    margin-bottom:0;
}

@font-face {
  font-family: 'justfont';
  src:  url('/open-huninn-font-master/font/jf-openhuninn-1.0.ttf');
  font-weight: normal;
  font-style: normal;
}

html{
  letter-spacing: 1px;
  position: relative;
}

.card-header{
  color:$primary;
}
